.cg-no-select,
.ui-no-select {
  user-select: none;
}

.cg-yes-select,
.ui-yes-select {
  user-select: auto;
}

//Intended to be used with a div that has it's height explicitly set
.cg-scrollable,
.ui-scrollable {
  -webkit-overflow-scrolling: touch;

  &.cg-vertical,
  &.ui-vertical {
    overflow-y: auto;
  }

  &.cg-horizontal,
  &.ui-horizontal {
    overflow-x: auto;
  }
}

.cg-vertical-center,
.ui-vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ui-pretty-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
